[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
callit = "3Uo8DRnQTPhf9DtfchoBBbFHn8jXKov347RpTqBp4G3A"

[programs.devnet]
callit = "3Uo8DRnQTPhf9DtfchoBBbFHn8jXKov347RpTqBp4G3A"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
